batch_name = <batch_name>
universe = vanilla
getenv = true
request_cpus = 32
request_memory = 32GB
output = vsc_logs/out.log
error = vsc_logs/out.log
log = vsc_logs/interactive.log
nice_user = true
request_gpus = 1
executable = <code_server_executable>

arguments = --port <port> --without-connection-token --accept-server-license-terms

queue
