batch_name = <batch_name>
universe = vanilla
getenv = true
request_cpus = 32
request_memory = 32GB
output = out.log
error = out.log
log = interactive.log
nice_user = true
request_gpus = 1
executable = <code_server_executable>
transfer_executable = false

should_transfer_files = yes
transfer_input_files = /data/snoplus3/degraw/uniform_electron_energy/test_dset.h5

arguments = --port <port> --without-connection-token --accept-server-license-terms

queue
